[submodule "neorv32-coremark-main/coremark"]
	path = neorv32-coremark-main/coremark
	url = https://github.com/eembc/coremark.git
[submodule "neorv32-coremark-main/neorv32"]
	path = neorv32-coremark-main/neorv32
	url = https://github.com/stnolting/neorv32.git
