[submodule "coremark"]
	path = coremark
	url = https://github.com/eembc/coremark.git
	ignore = dirty
[submodule "neorv32"]
	path = neorv32
	url = https://github.com/stnolting/neorv32.git
	ignore = dirty
